google-re2
pyxurls
gdown==5.1.0
urlobject
huggingface_hub[cli]>=0.23
di-toolkit
click
pandas
tabulate
pyquery
pyrfc6266
git+https://github.com/deepghs/waifuc.git@main#egg=waifuc
orator
dateparser
lxml<5
hfutils[rar,7z]>=0.3.8
dghs-imgutils>=0.5.0
pyquery
markdownify<1
xmltodict
tzlocal
pixivpy3>=3.7.5
pyarrow
cryptography
pyyaml>=6
ao3_api
langdetect
pyanimeinfo>=0.0.4
pynacl
tqdm
hbutils
requests
numpy
natsort